html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
canvas {
    display: block;
}

.menu {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;        
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    align-items: center;
    background: transparent;
}

.menuContainer {
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border: solid 1px;
}

.menuText {    
    width: 100%;
    display: block;
    justify-content: left;
    font-size: 16px;
    user-select: none;

    align-items: center;
    background: transparent;
}

ul {
    padding: 0;
    list-style-position: inside;
}

li {
    padding: 3px;
}

.leaderboardOptions {
    width: 100%;
    display: flex;
    flex-direction: row;
}

button, .leaderboardButton, .birdDropdownButton, .dateDropdownButton {
    background-color: transparent;
    width: 250px;
    border: solid 1px;
    padding: 8px 32px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

.leaderboardButton, .birdDropdownButton, .dateDropdownButton {
    width: 100%;
}

.optionDropdown {
    width: 170px;
    height: 100%;
    display: inline-block;
    position: relative;
}

.leaderboardDropdown {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #EBF5FB;
}

input {
    width: 250px;
}

table {
    width: 100%;
    height: 0%;
}

th, td {
    padding: 5px;
}

#submitScoreMsg {
    position: absolute;
    font-size: 12px;
    padding-top: 9px;
}

#highScoreTableContainer {
    height: 500px;
    overflow-y: auto;
}

#highScoreTableContainer::-webkit-scrollbar
{
    display: none;
}